<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find quadruped_description)/config/quad_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/quadruped" args="joint_state_controller
					  fl_thigh_roll_position_controller
					  fl_thigh_pitch_position_controller
					  fl_knee_position_controller
					  fr_thigh_roll_position_controller
					  fr_thigh_pitch_position_controller
					  fr_knee_position_controller
					  bl_thigh_roll_position_controller
					  bl_thigh_pitch_position_controller
					  bl_knee_position_controller
					  br_thigh_roll_position_controller
					  br_thigh_pitch_position_controller
					  br_knee_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/quadruped/joint_states" />
  </node>

</launch>
